*{
	font-weight: 700;
}

.row-header {
	background-color: aquamarine;
}

.header-baner {
	height: 40vh;
	background-image: url('../images/Banner_with\ text.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.btnKc {
	background-color: #C3D213;
	color: black;
	font-weight: 700;
	border-radius: 50px;
	border: 0;
}

.bg-header {
	background-color: #8000809c;
}

.text-header {
	color: white;
}

.img-list {
	max-height: 78px;
}

.style-list {
	list-style: none;
}

.btnOur {
	width: 184px;
	height: 50px;
	font-size: 20px;
}

.style-list li {
	display: flex;
}
 

.missionLi {
	font-weight: 700;
	font-size: 15px;
}
 
.img-classroom {
	/* background-image: url('../images/Asset-02.png'); */
	height: 200px;
}

.bg-aqua, .cardColor {
	background-color: aquamarine;
}

.card {
	border: 0;
}

.bgPurple {
	background-color: #8000809c !important;
}
 
.cardCurriculum {
	max-width: 325px;
	background-color:  transparent !important;
	color: white;
	align-items: center;
    text-align: center;

}

.mwith{	
	max-width: 130px;
}

.bg-orange {
	background-color: orange !important;
}

.card-text {
	font-weight: 600;
}


.w-55 {
	max-width: 250px;
}

.w-20{
	max-width: 255px;
}


@media (min-width: 768px) { 

	.pxauto {

		padding-left: 300px;
		padding-right: 300px;
	}

 }


.text-footer {
	font-weight: 700;
	font-size: 26px;
	color: white;
}

footer button {
	font-size: 19px !important;
}


.w20 {
	min-width: 230px;
}